.form {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  margin-bottom: 50px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 18px;
  @media screen and (min-width: 580px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.input_flex {
  display: flex;
}
.input_from {
  background-color: #f7f7fb !important;
  border: none !important;
  border-right: 1px solid rgba(138, 138, 137, 0.2) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 160px !important;
}
.input_to {
  background-color: #f7f7fb !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 160px !important;
  width: 136px;
  height: 48px;
}
.typehead {
  background-color: #f7f7fb !important;
  border: none !important;
}
.search_button {
  border: none;
  background-color: #3470ff;
  color: #ffffff;
  border-radius: 12px;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
}
.search_button:hover {
  background: #0B44CD;
}
.filters_name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.label {
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.price_filter {
  width: 125px !important;
  height: 48px;
}
.brand_filter {
  width: 224px !important;
  height: 48px;
}
