@import-normalize; /* bring in normalize.css styles */
@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Manrope', sans-serif;
}
p,
h1,
h2,
h3,
ul,
button,
.list {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 274px;
  padding: 20px 0;
  @media screen and (min-width: 580px) {
    max-width: 577px;
  }
  @media screen and (min-width: 890px) {
    max-width: 880px;
  }
  @media screen and (min-width: 1190px) {
    max-width: 1183px;
  }
}
.text_center {
  text-align: center;
}
